$font: "Open Sans","Helvetica Neue",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

//Colors
$floralwhite: #fffcf2;
$palesilver: #ccc5b9;
$blackolive: #403D39;
$eerieblack: #252422;
$flame: #eb5e28;

$white: #fff;
$black: #000;
$maroon: #83333e;
$off-white: #f2f4f5;

html,
body {
    font-family: $font;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: $eerieblack;

}

.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto;
    @media(max-width: 1440px){
        width: 1280px;
        min-width: 1280px;
    }
    @media(max-width: 1280px){
        width: 976px;
        min-width: 976px;
    }
    @media(max-width: 976px){
        width: 768px;
        min-width: 768px;
    }
}

//Header
header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;

    .inner-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        .logo {
            a {
                font-weight: 700;
                text-decoration: none;
                letter-spacing: 1.5px;
                color: $black;
            }
        }
        .navigation {
            nav {
                a {
                    margin: 0 20px;
                    text-decoration: none;
                    letter-spacing: 1.75px;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    color: $black;
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}


//Banner
.banner {
    display: flex;
    align-items: center;
    background-color: $white;
    position: relative;
    height: 100vh;
    .row {
        position: relative;

        .main-text{
            font-size: 5.8rem;
            text-transform: uppercase;
            letter-spacing: 42px;
            font-weight: 700;
            color: $white;
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            mix-blend-mode: difference;
            z-index: 9;
            @media (max-width: 1440px){
                font-size: 4.4rem;
                letter-spacing: 36px;
            }
        }

        .main-image{
            width: 536px;
            margin: 0 auto;
            @media (max-width: 1440px){
                width: 436px;
            }
        }
        .side-image{
            width: 360px;
            position: absolute;
            @media (max-width: 1440px){
                width: 200px;
            }
            &.left{
                left: 168px;
                top: 12px;
                @media (max-width: 1440px){
                    left: 128px;
                }

            }
            &.right{
                right: 168px;
                bottom: 12px;
                @media (max-width: 1440px){
                    right: 128px;
                }

            }
        }

    }
    .scroll {
        font-weight: 700;
        font-size: .875rem;
        letter-spacing: 1.5px;
        color: $black;
        text-transform: uppercase;
        position: absolute;
        bottom: 48px;
    }
}

.bottom-nav {
    width:100%;
    background-color:$blackolive;
    overflow:auto;
    position: fixed;
    bottom: 0px;
    box-shadow: 2px -2px 2px 1px $flame;

    @media (min-width: 768px){
        width: 15%;
        height: 100%;
        top: 0px;
        left: 0px;
        bottom: auto;
        background: $eerieblack;
    }

    .bottomlink{
        float: left;
        text-align: center;
        width: 25%;
        padding: 12px 0;
        transition: all 0.3s ease;
        color: $floralwhite;
        font-size: 1.3rem;
        text-decoration: none;
        
       
        @media (min-width: 768px){
            width: 100%;
            top: 0px;
            left: 0px;
            bottom: auto;
            font-size: 1.8rem;
            
        }
    }
    a.bottomlink:hover{
        background-color: $blackolive;
        text-decoration: none;
    }

    .active{
        background-color: $eerieblack;
        @media (min-width: 768px){
            background-color: $blackolive;
            
        }
        
    }
    
    .logo
    {
        top: 0px;
        margin-bottom: 0px;
        text-shadow: 4px 4px 10px $eerieblack;
        //border-radius: 50%;
        background: $blackolive;
        color:$flame;
        text-align: center;
        //padding-top: 20px;
        text-decoration: none;
        
        
        font-size: 3rem;

        @media (max-width:768px){
            display: none;
        }
        //height: ;
    }
    h1 {
        margin: 0px;
    }

    
}

hr { background-color: $flame; height: 2px; border: 0; margin-bottom: 0px;}


//PAGE CONTENT

.content-pane{
    top: 0px;
    margin-top: 0px;
    color: $white;
    margin-bottom: 15%;
    
    .hugetext{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 6rem;
        font-weight: 600;
        
        @media (min-width: 768px) {
                font-size:10rem;
         }

         @media (max-width: 420px) {
            font-size:4rem; //very small for very small phones
     }
        
    }
    .bigtext{
        font-size:3rem;
        font-weight: 400;
        margin-bottom: 0px;
        margin-top: 0px;
        @media (min-width: 768px) {
            font-size:6rem;
     }
        
    }
    .normaltext{
        font-size: 2rem;
        font-weight: 300;
    }
    .leftalign{text-align: left;}
    .centeralign{text-align: center;}
    .rightalign{text-align: right;}
    h1 {
        font-size: 3rem;
        text-align: center;
    }

    @media (min-width: 768px) {
        margin-left: 20%;
        margin-right: 5%;
        
    }
}

